{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"],
      "plugins": ["add-module-exports"]
    },
    "production": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript", "minify"],
      "plugins": ["add-module-exports"]
    }
  }
}
